<% if resource.errors.any? %>
  <div id="error_explanation">
   <h5>入力内容をご確認ください。</h5>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
