<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h5 class="text-center"><i class="fas fa-pencil-alt"></i>編集する</h5>
      <%= render 'form', submit: "更新する", post: @post, obj: "編集" %>
     </div>
   </div>
 </div>