<div class ="container" >
  <div class="row">
    <div class="col-12 my-3">
      <h4 class="text-center col-md-5 top1 mx-auto my-4"><i class="fas fa-coffee"></i>投稿一覧</h4>
      <%= render 'public/posts/index', posts: @posts,post: @post%>
      </div>
    </div>
  </div>
</div>
