<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
    <h5><i class="fas fa-mug-hot"></i> 投稿する</h5>
     <p>（タイトル・本文・は必須入力）</p>
     <%= render 'form', submit: "投稿する", post: @post, obj: "登録" %>
    </div>
  </div>
</div>
