<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto text-center border">
    <h5 class="text-center  col-md-5 top1 mx-auto my-5"><i class="fas fa-mug-hot"></i> 投稿する</h5>
     <%= render 'form', submit: "投稿する", post: @post, tags: @tags, obj: "登録" %>
    </div>
  </div>
</div>
