<div class ="container ">
  <% if user_signed_in? %>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, placeholder: 'キーワード検索', class: "border border-white" %>
      <%= f.submit '検索',class: "search-button" %>
    <% end %>
  <% end %>
</div>


