<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto d-flex justify-content-center">
      <div class="about col-md-12 w-100 mt-2">
        <div class="about_p  col-md-6 mx-auto px-3 py-3">
          <p>
            Resutaurant_serviceについて
          </p>
          <p> レストランで働いているサービス人のためのコミュニティサイトです。</p>
          <p>
            コミュニティサイトを選んだのは、同業種の人間と繋がることで、勉強しているところや、働く上での悩みや楽しさを共有することが出来、それがモチベーションに繋がると考えたからです。<br>
          少しでも飲食業界で働いている方々の助けになるものであれば幸いです！
          </p>
        </div>
      </div>
    </div>
    <section id="profile">
      <div class="container">
        <h2 class="heading">Profile</h2>
          <div class="profile-group">
            <div class="left-content col-md-5"><div class="my-face col-md-3 mx-auto"></div></div>
            <div class="right-content col-md-7 text-md-start">
              <h3 class="description-title">設計者</h3>
              <p class="description-text">大学卒業後はサービス業に憧れを抱き、約４年間飲食業界に身を置いておりました。<br>現在はIT業界に興味を持っており、日々転職活動に向けて勉強中です。<br>
              サービス人として働いていた当時は日々のワインやチーズ、サービス技術の勉強がとても楽しかった事を覚えています。<br>
              飲食業界で働く皆様を心から応援しております。</p>
              <h3 class="description-title">Myskills</h3>
              <p class="description-text">HTML/CSS,JavaScript, Rubyonrails, SQL勉強中</p>
            </div>
          </div>
      </div>
    </section>
    <% if user_signed_in? %>
      <section id="contact">
        <div class="container">
            <h2 class="heading">Contact</h2>
            <p class="heading-text my-3">ご意見やご感想等お寄せください。今後の参考にさせて頂きます。</p>
            <div class="contact-group">
              <div class="col-md-12">
                <%= link_to 'お問い合わせフォームへ', new_contact_path(user_id: current_user.id), class: 'btn btn-outline-dark' %>
              </div>
            </div>
        </div>
      </section>
    <% else %>
      <section id="contact">
        <div class="container">
            <h2 class="heading">Contact</h2>
            <p class="heading-text my-3">ご意見やご感想等お寄せください。<br>今後の参考にさせて頂きます。なお、本アプリの会員でない方からのお問い合わせは<br>お時間を頂く場合がございます。<br>何卒ご了承くださいませ。</p>
            <div class="contact-group">
              <div class="col-md-12">
                  <div class="mb-3">
                    <h4>Mail</h4>
                    <a href="#">xxxxxxxxx&#64;gmail.com</a>
                  </div>
                  <div>
                    <h4>Tel</h4>
                    <a href="#">000-0000-0000</a>
                  </div>
              </div>
            </div>
        </div>
      </section>
      <div class="d-grid gap-2 col-6 mx-auto my-5 miniCon fwari"> <%= link_to '今すぐ始めよう', new_user_registration_path, class: "btn btn-outline-success" %></div>
    <% end %>
  </div>
</div>
