<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto my-5">
      <div class="heading">
        <h2>FAQ</h2>
      </div>

      <div class="faq p-5 ">
        <ul id="faq-list" class="text-center p-0">
          <li class="faq-list-item">
            <h3 class="question overflow-hidden">resutaurant_serviceとはそもそも何のサイトなのですか？</h3>
            <span class="bg-white px-1">+</span>
            <div class="answer overflow-auto">
              <p>開発者によって作成されたレストランで働くサービス人の為のコミュニケーションサイトです。<br>開発者は勿論、飲食業界で働いている方だけでなく、これから飲食業界で働こうと思っている方々,
              食に関して興味関心のある方々の交流を図るために作成しました。<br>その為、国籍かかわらず、<br>すべての方々にお楽しみ頂けるコミュニケーションサイトとなっております。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question overflow-hidden">ゲストユーザーでログインすると何が出来ますか？</h3>
            <span class="bg-white px-1">+</span>
            <div class="answer overflow-auto">
              <p>ゲストユーザーでログインするとお試しで、会員の方の投稿の閲覧や、フォロー、コメントをする事が出来ます。勿論、投稿する事も可能です。<br>注意して頂きたいのはこれらのアクションは10分後に
              すべて消えてしまうという事です。<br>その為、最終的には会員登録をされることをお勧め致します。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question overflow-hidden">なぜ会員登録をするとスムーズにお問い合わせ出来るのですか？</h3>
            <span class="bg-white px-1">+</span>
            <div class="answer overflow-auto">
              <p>本サイトにて会員登録を行うと、本サイトのお問い合わせフォームから簡単に管理者にメールを送ることが出来るため、(推定所要時間1分弱)会員登録をお勧めしております。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question overflow-hidden">投稿する写真は何枚でも投稿出来ますか？</h3>
            <span class="bg-white px-1">+</span>
            <div class="answer overflow-auto">
              <p>投稿の写真は0枚から上限なく投稿する事は可能です。しかし、あまりにも多くの画像を投稿してしまえば、他のユーザーからは伝わりづらくなるかと思いますので、ほどほどにお願いいたします。
              <br>また画像に関してはGIF,PNG, JPGのみ対応可能です。PDFや動画等は投稿できません。機能に関してのご要望は管理者までお問い合わせください。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question overflow-hidden">退会したいのですが、退会するとどうなりますか？</h3>
            <span class="bg-white px-1">+</span>
            <div class="answer overflow-auto">
              <p>ご退会されると、再度同じ登録情報にてログインする事が出来なくなります。ご退会の際には十分にお気を付けください。<br>なお、会員登録されてからも会員情報は変更可能です。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {

    $('.faq-list-item').click(function() {
      var $answer = $(this).find('.answer');
      if($answer.hasClass('open')) {
        $answer.removeClass('open');
        // slideUpメソッドを用いて、$answerを隠す
        $answer.slideUp();

        $(this).find('span').text('+');

      } else {
        $answer.addClass('open');
        // slideDownメソッドを用いて、$answerを表示
        $answer.slideDown();

        // 子要素のspanタグの中身をtextメソッドを用いて書き換え
        $(this).find('span').text('-');

      }
    });

  });
</script>