<div class="container">
  <div class="row">
    <div class="col-md-10 background shadow mx-auto my-5 px-2 py-5 ">
      <h4 class="col-md-5 text-center mx-auto mb-4 top1">NEWS&EVENTS</h4>
      <div class="news gap-4">
        <div class="book_image"></div>
        <div class="book_p col-md-7">
          <h5 class="my-3">2022/12/25 <span class="d-inline-block p-1 bg-white rounded-1">NEWS</span><br>[&ensp;レイアウトを変更しました。]</h5>
          <p>いつも「Resutaurant_service」をご利用いただき誠にありがとうございます。</p>
          <p>此度、画面レイアウトを変更致しました。</p>
          <p>引き続き皆様が楽しく当サイトをご利用頂けるよう、改善を努めて参りますので、何卒よろしくお願い申し上げます。</p>
        </div>
      </div>
    </div>
  </div>
</div>