<table class="table table-border">
  <thead>
    <tr>
      <th>ハッシュタグ名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to "編集する", edit_admin_tag_path(tag) %></td>
        <td><%= link_to "削除する", admin_tag_path(tag), method: :delete, data: {confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>