<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto my-5">

      <%= form_with model: @tag, url: admin_tag_path(@tag), method: :patch do |f| %>
      <div class="background col-md-7 p-5 mx-auto text-center h-25">
          <h5 class="text-center m-3 top1"><i class="fas fa-cog"></i>ハッシュタグを編集</h5>
          <p><i class="fas fa-tag"></i> <%= f.label :name, "タグ名" %></p>
          <%= f.text_field :name, class: "form-control mb-3" %>
          <%= f.submit "変更する", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
