<div class ="container" >
  <div class="row">
    <div class='col-md-8'>
    <h4><i class="far fa-comment-alt"></i>　<b><%=@user.name%></b> さんのコメント一覧(<%= @user.post_comments.count %>件)</h4>
      <ul class="list-group">
      <% @comments.each do |comment| %>
        <li class="list-group-item"%>
        <%= comment.comment %>
        <%= link_to '削除', admin_user_post_comments_path(comment.user, comment), method: :delete, data: {confirm: "本当に削除しますか？"},class: 'btn btn-danger' %>
      <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>