/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.main {
  min-height: 1100px;/*高さの最小値を指定*/
  width: 100%;
  background-color: #FFFAF0;
}

/****--------- 回転 ---------****/
.spin{
  transition: transform 1.5s ease 0s;
}
.spin:hover{
  transform:rotate(360deg);
}

/****--------- 浮く ---------****/
.float{
  transition: transform 0.2s ease 0s;
}
.float:hover{
  transform:translate(0, -20%) ;
}


/****--------- ふわふわ ---------****/
.fwari{
  animation:fwari ease-in-out 2s infinite alternate;
  -webkit-animation:fwari ease-in-out 2s infinite alternate;
  -moz-animation:fwari ease-in-out 2s infinite alternate;
}
@keyframes fwari{
  0%   { transform:translate(0%, 0%); }
  100% { transform:translate(0%, -30px); }
}
@-webkit-keyframes fwari{
  0%   { -webkit-transform:translate(0%, 0%); }
  100% { -webkit-transform:translate(0%, -30px); }
}

@-moz-keyframes fwari{
  0%   { -moz-transform:translate(0%, 0%); }
  100% { -moz-transform:translate(0%, -30px); }
}

/****--------- 伸びる（横） ---------****/
.width{
  transition: width 0.2s ease 0s;
}
.width:hover{
  width:60px ;
}

/****--------- 色変更 ---------****/
.color{
  transition: background-color 0.5s ease 0s;
}
.color:hover{
  opacity: 0.8;
}
// -------------------------------------------------------

.nature {
  background-image: image-url("nature.jpg");
  background-size:  cover;
}
.new-img {
  width: 400px;
  height: 300px;
  object-fit: cover; /*ボックスが画像で埋まるようにリサイズ*/
}

ul {
  list-style: none;
}
li {
  white-space: nowrap; /*自動的な折り返しを禁止する*/
}

a {
  text-decoration: none;
  color: #000000;
}
.background {
  background-image: image-url("white.png");
  background-size:  cover;
}
.logo {
  background-image: image-url("logo.png");
  background-size: cover;
  background-position: center;
}



.top1 {
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px black;
  border-radius: 3px 0 3px 0;
  background-image: image-url("white.png");
}

.top1:before, .top1:after {
  content: '';
  position: absolute;
  width:10px;
  height: 10px;
  border: solid 1px black;
  border-radius: 50%;
  background-image: image-url("white.png");
}

.top1:after {
  top:-12px;
  left:-12px;
}
.top1:before {
  bottom:-12px;
  right:-12px;
}

.top_font {
  position: relative;
  /*padding: 1rem 2rem;*/
  border: 4px solid #000;
  background-image: image-url("about_image.jpg");

}

.top_font:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  content: '';
  border: 2px solid #000;
}

.top_img {
  height: 30%;
}


.about {
  background-image: image-url("about_image.jpg");
  background-size:  cover;
  background-position: center;
  position: relative;
  height: 500px;

}
.about_p {
  position:absolute;
  top:15%; left:25%;
  background-color:rgba(0,0,0,0.4);
  color:#FFF;
}

#profile {
    background-color: white;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

.profile-group {
    display: flex;
    padding: 30px 0 90px;
}
.my-face {
    width: 200px;
    height: 200px;
    background-image: image-url("myimage.jpg");
    background-size:  cover;
    background-position: center;
    border-radius: 50%;
}

.description-title {
    font-size: 20px;
    margin: 20px 0 5px 0;
}
.description-title:first-child {
    margin-top: 0;
}
.description-text {
    font-size: 16px;
}

#contact {
    background-color: rgba(186, 172, 186, 0.5);
    text-align: center;
    margin: 30px 0px;
    padding: 30px;
}

.comment-user-image {
  border-radius: 50%;

}
.link {
  text-decoration: none;
}

/*通知一覧*/
.notification-index {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
}


.post_show a {
  background-color: gray;
  color: white;
  display: inline-block;
  padding:  10px 15px;
  margin: 20px 10px 0px 0px;
  border-radius: 5%;
  transition: transform 0.2s ease 0s;
}

.post_show a:hover{
  transform:translate(0, -20%) ;
}


/*チャット一覧ページ*/
.user_image{
  width: 100%;
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
}
/*チャットページ*/
/*自分のメッセージ（右側）*/
.my-message {
 text-align: right;
}


/*// メッセージの装飾*/
.my-message p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  border-radius: 12px;
  background: #ADFF2F;
  max-width: 250px; /*吹き出しの最大横幅,超えると折り返す*/
  font-size: 14px;
  text-align: left;
}

/*// 吹き出しに使う三角のパーツ*/
/*// afterでメッセージに装飾をつける*/
.my-message p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent; /*content: "";にボーダーをつけtransparentで透明にする*/
  border-left: 18px solid #ADFF2F; /*上記の左側のみカラーをつける*/
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}


/*// 相手のメッセージ表示欄*/
/*// アイコン*/
.chat-user-image {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

/*// 相手のメッセージの装飾*/
.user-message {
  display: inline-block;
  position: relative;
  margin: 15px 0 0 10px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: white;
}

/*// 吹き出しに使う三角のパーツ*/
/*// afterでメッセージに装飾をつける*/
.user-message:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px; /*マイナス値にすることで左側に寄せている*/
  border: 8px solid transparent;
  border-right: 18px solid white;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.user-message p {
  margin: 0;
  font-size: 14px;
}

/*ページネーション*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;

}
.pagination span {
  margin-right: 30px;

}
.pagination span a {
  display: inline-block;
  background-color: #d8bfd8;
  border-radius: 10%;
  padding: 10px 30px;
}
span.page.current {
  background-color: pink;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10%;
}

.icon_image {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-image: image-url("waiter.jpg");
  border-radius: 20%;
  background-repeat: no-repeat;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation: fuwafuwa  7s infinite;

}


@keyframes fuwafuwa {
  0% {
    transform: translateX(-300px);
  }

  40% {
    transform: translateX(100px);
  }

  70% {
    transform: translateX(300px);
  }

  80% {
    transform: rotate(6deg);
  }

  100% {
    transform: translateX(0px);
  }
}

// スマホ対応
@media screen and (max-width: 600px){
   .about_p {
    position:absolute;
    top:15%; left:0%;
  }

}