<div class ="container">
  <div class="row">
    <div class="col-10 text-center mx-auto">
      <h4 class="col-md-5 top1 mx-auto my-4"><i class="fas fa-bell"></i> 通知一覧</h4>
      <div>
        <%= link_to notification_path(@notifications), method: :delete, data: {confirm: "通知を全て削除します。よろしいですか？"},class: 'btn btn-outline-danger ' do %>
        <p class="col-3 mx-auto d-inline"><i class="fas fa-trash-alt "></i>通知をすべて削除</p>
        <% end %>
      </div>
      <% if @notifications.exists? %>
      <div class="border p-5 mt-4 background shadow">
        <%= render @notifications %>
      </div>
      <% else %>
       <p class="mt-4 border background shadow p-5">通知はありません</p>
      <% end %>
    </div>
  </div>
</div>