<div class="container">
  <div class="row justify-content-center">
    <div class="col mt-3">
      <h5><i class="fas fa-users"></i> ユーザー覧</h5>
      <%= render 'user_index', users: @users %>
    </div>
  </div>
</div>