<div class="container">
  <div class="row">
    <div class="col-md-8 text-center background shadow p-5 mt-5 mx-auto">
      <div class="post_show">
        <h4><strong>本当に退会しますか？</strong></h4>
        <b>※退会前に下記項目をご確認ください。</b>
        <div class="text-left customize-border">
          <ul style ="list-style: none;" class="overflow-auto">
            <li>ご登録いただいたアカウント情報の閲覧ができなくなります。</li>
            <li>ご自身の投稿が閲覧ができなくなります。</li>
          </ul>
        </div>
        <div class="mt-4">
         <p>上記内容をご確認後、<br>
         退会される場合は退会するをクリックしてください。</p>
        </div>
        <div class="d-flex justify-content-around mt-5 text-center">
          <div>
            <%= link_to '退会しない', edit_user_path(current_user), data: {"turbolinks" => false}, class: "btn btn-primary" %>
          </div>
          <div>
            <%= link_to '退会する', user_withdraw_path, data: {confirm: "本当に退会しますか？"},method: :patch, class: "ml-5 btn btn-danger px-4" %>
          </div>
      </div>
    </div>
  </div>
</div>