<footer class="mt-5 pt-5">
    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" class="text-light"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="text-light"><i class="fab fa-instagram fa-lg"></i></a>
    <a href="https://ja-jp.facebook.com/" target="_blank" rel="noopener noreferrer" class="text-light"><i class="fab fa-facebook"></i></a>
  <p>&copy;RESUTAURANT SERVISE</p>
</footer>