<footer class="pt-5 bg-dark">
    <div class="text-center">
        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" class="text-light"><i class="fab fa-twitter me-3"></i></a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="text-light"><i class="fab fa-instagram fa-lg me-3"></i></a>
        <a href="https://ja-jp.facebook.com/" target="_blank" rel="noopener noreferrer" class="text-light"><i class="fab fa-facebook me-3"></i></a>
    </div>
    <p class="text-white text-center mb-0 py-3">&copy;RESUTAURANT SERVISE</p>
</footer>